<p-card>
    <ng-template #header>
        <h2>Haftanın Karşılaşmaları</h2>
    </ng-template>
    <div class="matchups-weekly">
        <div *ngFor="let item of transformedFixtureList; let i = index" class="matchups-weekly-container">
            <div *ngIf="transformedFixtureList.length > 2" class="week-number">
                {{item.weekNumber}}.Hafta
            </div>
            <div class="matchups-weekly-content">
                <div class="matchups-left-side">
                    <span>{{ item.fixture[0].name }}</span>
                </div>
                <div class="matcups-score">
                    {{ `${item.fixture[0].weeklyGoalsScored} - ${item.fixture[1].weeklyGoalsScored}` }}
                </div>
                <div class="matchups-right-side">
                    {{ item.fixture[1].name }}
                </div>
            </div>

        </div>
    </div>
</p-card>