$card-width: 500px;

.home {
  &-container {
    .home-buttons-card {
      .p-card-content {
        display: flex;
        gap: 20px;
      }
    }

    .home-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;


      .p-card {
        width: $card-width;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }


      .p-card:hover {
        width: $card-width;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      .p-card-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .p-datatable tbody tr:nth-child(odd) {
        background-color: #f5f5f5; // Gri renk
      }





      /* Footer */
      .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }


      /* Son Karşılaşmalar */
      .matchups-weekly {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .matchups-weekly-content {
          display: flex;
          gap: 20px;
          width: 100%;
          justify-content: center;
          border-radius: 5px;
          padding: 10px;
        }

        .matchups-weekly-content:nth-child(1) {
          background-color: #f5f5f5;
        }
      }
    }
  }
}