$card-width: 500px;

.home {
  &-container {
    .home-buttons-card {
      .p-card-content {
        display: flex;
        gap: 20px;
      }

      .play-buttons{
        display: flex;
        width: 100%;
        gap: 5px;
        justify-content: center;
      }
    }

    .home-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;


      .p-card {
        width: $card-width;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }


      .p-card:hover {
        width: $card-width;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      .p-card-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }


    }
  }
}