<div class="home-container">
  <div class="home-content">
    <!-- <p-card>
        <ng-template #header>
            <h2 >Puan Durumu</h2>
        </ng-template>
      <p-table [value]="teams">
        <ng-template #header>
            <tr>
                <th>Id</th>
                <th>Takım Adı</th>
                <th>P</th>
                <th>G</th>
                <th>B</th>
                <th>M</th>
                <th>A</th>
            </tr>
        </ng-template>
        <ng-template #body let-team>
            <tr>
                <td>{{ team.TeamId }}</td>
                <td>{{ team.TeamName }}</td>
                <td>{{ team.Points }}</td>
                <td>{{ team.Wins }}</td>
                <td>{{ team.Draws }}</td>
                <td>{{ team.Losses }}</td>
                <td>{{ team.Avarage }}</td>
            </tr>
        </ng-template>
      </p-table>

      <ng-template #footer>
        <div class="flex gap-4 mt-1">
            <p-button label="Next Week" class="w-full"  />
        </div>
    </ng-template>
    </p-card>
     -->



  <!-- Haftalar -->
  <div class="week-results">
    <button (click)="startSimulate()">Simulate League for {{ weeks }} Weeks</button>
  </div>
  </div>
</div>
